<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Coffee Shop</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if user.is_authenticated  %}
        <form action="{% url "logout" %}" method="post">
             
            {% csrf_token %}
            <button type="submit" class="font-medium text-white transition-colors group-hover:text-indigo-600 group-active:text-indigo-500">
            Cerrar Sesión
            </button>
        
        {% else %}
            <a href="{% url "login"%}">Login</a> 
        {% endif %}

    <div class="container mx-auto">
        {% block content%}{% endblock content%}
    </div>
   
    </body>
</html>